In [18]:
import pandas as pd
from pathlib import Path

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [19]:
# Create engine 
uri = "sqlite:///Project_olympian.sqlite"
engine = create_engine(uri)
conn = engine.connect()
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

In [20]:
Air_pollulants = Base.classes.Air_pollulants
Armed_forces = Base.classes.Armed_forces
Athlete_events = Base.classes.Athlete_events
Avoidable_mortality = Base.classes.Avoidable_mortality
Compulsory_education = Base.classes.Compulsory_education
Corruption = Base.classes.Corruption
Country_code_key = Base.classes.Country_code_key
Disaster_data = Base.classes.Disaster_data
Education_expenditure = Base.classes.Education_expenditure
Employment_ratio = Base.classes.Employment_ratio
GDP_growth = Base.classes.GDP_growth
GDP_p_cap_growth = Base.classes.GDP_p_cap_growth
GDP_per_capita = Base.classes.GDP_per_capita
GDP_usd = Base.classes.GDP_usd
Gov_effectivness = Base.classes.Gov_effectivness
Gov_stability = Base.classes.Gov_stability
Health_expenditure = Base.classes.Health_expenditure
Health_expenditure_usd = Base.classes.Health_expenditure_usd
Legal_rights = Base.classes.Legal_rights
Military_expenditure = Base.classes.Military_expenditure
Mortality_data = Base.classes.Mortality_data
Olympian_stats = Base.classes.Olympian_stats
Overall_olympics = Base.classes.Overall_olympics
Overall_stability = Base.classes.Overall_stability
Perceived_health = Base.classes.Perceived_health
Pollution_pop_exposed = Base.classes.Pollution_pop_exposed
Pop_growth = Base.classes.Pop_growth
Pop_total = Base.classes.Pop_total
Retirement_data = Base.classes.Retirement_data
Rule_of_law = Base.classes.Rule_of_law
Stability_and_absence_of_terr_voil = Base.classes.Stability_and_absence_of_terr_voil
Tourism_expenditure = Base.classes.Tourism_expenditure
Unemployment = Base.classes.Unemployment
Wage_gap = Base.classes.Wage_gap
Well_being_stats = Base.classes.Well_being_stats

session = Session(engine)

In [95]:
def Selected_Dataset(table_name):
    inspector = inspect(engine)
    columns = inspector.get_columns(table_name)
    print(f'Selected Dataset: {table_name}')
    print("----------------")
    print(" ")
    print("Columns:")
    print("-------")


    for column in columns:
        print(column['name'])

def Table_names():
    table_names = list(Base.metadata.tables.keys())
    print(f'List of datasets:')
    print("----------------")
    print(table_names)

def query_to_dataframe(session, column1, column2, column3, column4, query_limit=10):
    data = []
    for row in session.query(column1, column2, column3, column4).limit(query_limit).all():
        data.append(row)
    df = pd.DataFrame(data, columns=[column1, column2, column3, column4])
    return df

In [56]:
data_test = pd.read_sql("SELECT Country_Name,Series_Name,Year,Current_USdollar FROM Tourism_expenditure order by Year desc", conn)
data_test

,Country_Name,Series_Name,Year,Current_USdollar
0,Afghanistan,"International tourism, expenditures (current US$)",1/1/2020,4.900000e+07
1,Albania,"International tourism, expenditures (current US$)",1/1/2020,8.050000e+08
2,Algeria,"International tourism, expenditures (current US$)",1/1/2020,2.720000e+08
3,Angola,"International tourism, expenditures (current US$)",1/1/2020,6.910000e+08
4,Antigua and Barbuda,"International tourism, expenditures (current US$)",1/1/2020,3.500000e+07
...,...,...,...,...
4805,Uruguay,"International tourism, expenditures (current US$)",1/1/1995,3.320000e+08
4806,Vanuatu,"International tourism, expenditures (current US$)",1/1/1995,1.000000e+07
4807,"Venezuela, RB","International tourism, expenditures (current US$)",1/1/1995,1.852000e+09
4808,World,"International tourism, expenditures (current US$)",1/1/1995,5.010455e+11
4809,Zimbabwe,"International tourism, expenditures (current US$)",1/1/1995,1.060000e+08

In [57]:
# Copy the desired Dataset name from the list of Dataset names. Paste into

In [99]:
Table_names()
print(" ")
print(" ")

Selected_Dataset('Disaster_data')

List of datasets:
----------------
['Air_pollulants', 'Armed_forces', 'Athlete_events', 'Avoidable_mortality', 'Compulsory_education', 'Corruption', 'Country_code_key', 'Disaster_data', 'Education_expenditure', 'Employment_ratio', 'GDP_growth', 'GDP_p_cap_growth', 'GDP_per_capita', 'GDP_usd', 'Gov_effectivness', 'Gov_stability', 'Health_expenditure', 'Health_expenditure_usd', 'Legal_rights', 'Military_expenditure', 'Mortality_data', 'Olympian_stats', 'Overall_olympics', 'Overall_stability', 'Perceived_health', 'Pollution_pop_exposed', 'Pop_growth', 'Pop_total', 'Retirement_data', 'Rule_of_law', 'Stability_and_absence_of_terr_voil', 'Tourism_expenditure', 'Unemployment', 'Wage_gap', 'Well_being_stats']


Selected Dataset: Disaster_data
----------------

Columns:
-------
DisNo
Historic
ClassificationKey
DisasterGroup
DisasterSubgroup
DisasterType
DisasterSubtype
ExternalIDs
EventName
Country_code
Country
Subregion
Region
Location
Origin
AssociatedTypes
OFDA/BHAResponse
Appeal
Declaration
AIDContribution_USdollar
Magnitude
MagnitudeScale
Latitude
Longitude
RiverBasin
StartYear
StartMonth
StartDay
EndYear
EndMonth
EndDay
TotalDeaths
No.Injured
No.Affected
No.Homeless
TotalAffected
ReconstructionCosts_USdollar
ReconstructionCostsAdjusted_USdollar
InsuredDamage_USdollar
InsuredDamageAdjusted_USdollar
TotalDamage_USdollar
TotalDamageAdjusted_USdollar
CPI

In [98]:
data = []
for row in session.query(
    # Dataset.column
    Tourism_expenditure.Country_Name, 
    Tourism_expenditure.Series_Name, 
    Air_pollulants.CHEM_COMP, 
    Air_pollulants.Emissions_in_tonnes
    ).limit(20).all():
    data.append(row)
df = pd.DataFrame(data)
df

/var/folders/hs/z5cvxv8n04sb4ctpkmg4t_vh0000gn/T/ipykernel_12382/3733457219.py:8: SAWarning: SELECT statement has a cartesian product between FROM element(s) "Air_pollulants" and FROM element "Tourism_expenditure".  Apply join condition(s) between each element to resolve.
  ).limit(20).all():

,Country_Name,Series_Name,CHEM_COMP,Emissions_in_tonnes
0,Afghanistan,"International tourism, expenditures (current US$)",NH3,346.5895
1,Afghanistan,"International tourism, expenditures (current US$)",NH3,360.3044
2,Afghanistan,"International tourism, expenditures (current US$)",NH3,296.9344
3,Afghanistan,"International tourism, expenditures (current US$)",NH3,296.0170
4,Afghanistan,"International tourism, expenditures (current US$)",NH3,256.0165
5,Afghanistan,"International tourism, expenditures (current US$)",NH3,219.8267
6,Afghanistan,"International tourism, expenditures (current US$)",NH3,223.6145
7,Afghanistan,"International tourism, expenditures (current US$)",NH3,213.9657
8,Afghanistan,"International tourism, expenditures (current US$)",NH3,198.5027
9,Afghanistan,"International tourism, expenditures (current US$)",NH3,196.8578
10,Afghanistan,"International tourism, expenditures (current US$)",NH3,174.8599
11,Afghanistan,"International tourism, expenditures (current US$)",NH3,168.6571
12,Afghanistan,"International tourism, expenditures (current US$)",NH3,161.3290
13,Afghanistan,"International tourism, expenditures (current US$)",NH3,158.1437
14,Afghanistan,"International tourism, expenditures (current US$)",NH3,157.7423
15,Afghanistan,"International tourism, expenditures (current US$)",NH3,154.9639
16,Afghanistan,"International tourism, expenditures (current US$)",NH3,157.8495
17,Afghanistan,"International tourism, expenditures (current US$)",NH3,154.0529
18,Afghanistan,"International tourism, expenditures (current US$)",NH3,141.5867
19,Afghanistan,"International tourism, expenditures (current US$)",NH3,137.4148