In [3]:
import pandas as pd
from pathlib import Path

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [4]:
# Create engine 
uri = "sqlite:///Project_olympian.sqlite"
engine = create_engine(uri)
conn = engine.connect()

Base = automap_base()

Base.prepare(autoload_with=engine)

In [5]:
# link sqlite tables from db
Air_pollulants = Base.classes.Air_pollulants
Armed_forces = Base.classes.Armed_forces
Athlete_events = Base.classes.Athlete_events
Avoidable_mortality = Base.classes.Avoidable_mortality
Compulsory_education = Base.classes.Compulsory_education
Corruption = Base.classes.Corruption
Disaster_data = Base.classes.Disaster_data
Education_expenditure = Base.classes.Education_expenditure
Employment_ratio = Base.classes.Employment_ratio
GDP_growth = Base.classes.GDP_growth
GDP_p_cap_growth = Base.classes.GDP_p_cap_growth
GDP_per_capita = Base.classes.GDP_per_capita
GDP_usd = Base.classes.GDP_usd
Gov_effectivness = Base.classes.Gov_effectivness
Gov_stability = Base.classes.Gov_stability
Health_expenditure = Base.classes.Health_expenditure
Health_expenditure_usd = Base.classes.Health_expenditure_usd
Legal_rights = Base.classes.Legal_rights
Military_expenditure = Base.classes.Military_expenditure
Mortality_data = Base.classes.Mortality_data
Olympian_stats = Base.classes.Olympian_stats
Overall_olympics = Base.classes.Overall_olympics
Overall_stability = Base.classes.Overall_stability
Perceived_health = Base.classes.Perceived_health
Pollution_pop_exposed = Base.classes.Pollution_pop_exposed
Pop_growth = Base.classes.Pop_growth
Pop_total = Base.classes.Pop_total
Retirement_data = Base.classes.Retirement_data
Rule_of_law = Base.classes.Rule_of_law
Stability_and_absence_of_terr_voil = Base.classes.Stability_and_absence_of_terr_voil
Tourism_expenditure = Base.classes.Tourism_expenditure
Unemployment = Base.classes.Unemployment
Wage_gap = Base.classes.Wage_gap
Well_being_stats = Base.classes.Well_being_stats
Model_merged_df = Base.classes.Model_merged_df

# start session
session = Session(engine)

In [6]:
# create def to print column names from tables available
def Selected_Dataset(table_name):
    inspector = inspect(engine)
    columns = inspector.get_columns(table_name)
    print(f'Selected Dataset: {table_name}')
    print("----------------")
    print(" ")
    print("Columns:")
    print("-------")
    for column in columns:
        print(column['name'])

# create def to print available tables
def Table_names():
    table_names = list(Base.metadata.tables.keys())
    print(f'List of datasets:')
    print("----------------")
    print(table_names)

# create def to input unique columns from multiple tables
def query_to_dataframe(session, column1, column2, column3, column4, query_limit=10):
    data = []
    for row in session.query(column1, column2, column3, column4).limit(query_limit).all():
        data.append(row)
    df = pd.DataFrame(data, columns=[column1, column2, column3, column4])
    return df

In [7]:
# data_test = pd.read_sql("SELECT Country_Name,Series_Name,Year,Current_USdollar FROM Tourism_expenditure order by Year desc", conn)
# data_test

In [8]:
Table_names()
print(" ")
print(" ")

# Copy and paste selected dataset to display the related data by columns
Selected_Dataset('Avoidable_mortality')

List of datasets:
----------------
['Air_pollulants', 'Armed_forces', 'Athlete_events', 'Avoidable_mortality', 'Compulsory_education', 'Corruption', 'Disaster_data', 'Education_expenditure', 'Employment_ratio', 'GDP_growth', 'GDP_p_cap_growth', 'GDP_per_capita', 'GDP_usd', 'Gov_effectivness', 'Gov_stability', 'Health_expenditure', 'Health_expenditure_usd', 'Legal_rights', 'Military_expenditure', 'Model_merged_df', 'Mortality_data', 'Olympian_stats', 'Overall_olympics', 'Overall_stability', 'Perceived_health', 'Pollution_pop_exposed', 'Pop_growth', 'Pop_total', 'Retirement_data', 'Rule_of_law', 'Stability_and_absence_of_terr_voil', 'Tourism_expenditure', 'Unemployment', 'Wage_gap', 'Well_being_stats']


Selected Dataset: Avoidable_mortality
----------------

Columns:
-------
PK
Country
Country_code
Measure
Unit_of_measure
Year
Death_values

In [9]:
# copy and paste dataset.column_name to display in pd.DataFrame
data = []
for row in session.query(
    # Dataset.column input
    Tourism_expenditure.Country_Name, 
    Tourism_expenditure.Series_Name, 
    Air_pollulants.CHEM_COMP, 
    Air_pollulants.Emissions_in_tonnes
    # select limiter of rows
    ).limit(20).all():
    data.append(row)
df = pd.DataFrame(data)
df

/var/folders/hs/z5cvxv8n04sb4ctpkmg4t_vh0000gn/T/ipykernel_64362/1379597582.py:10: SAWarning: SELECT statement has a cartesian product between FROM element(s) "Tourism_expenditure" and FROM element "Air_pollulants".  Apply join condition(s) between each element to resolve.
  ).limit(20).all():

,Country_Name,Series_Name,CHEM_COMP,Emissions_in_tonnes
0,Afghanistan,"International tourism, expenditures (current US$)",NH3,346.5895
1,Afghanistan,"International tourism, expenditures (current US$)",NH3,360.3044
2,Afghanistan,"International tourism, expenditures (current US$)",NH3,296.9344
3,Afghanistan,"International tourism, expenditures (current US$)",NH3,296.0170
4,Afghanistan,"International tourism, expenditures (current US$)",NH3,256.0165
5,Afghanistan,"International tourism, expenditures (current US$)",NH3,219.8267
6,Afghanistan,"International tourism, expenditures (current US$)",NH3,223.6145
7,Afghanistan,"International tourism, expenditures (current US$)",NH3,213.9657
8,Afghanistan,"International tourism, expenditures (current US$)",NH3,198.5027
9,Afghanistan,"International tourism, expenditures (current US$)",NH3,196.8578
10,Afghanistan,"International tourism, expenditures (current US$)",NH3,174.8599
11,Afghanistan,"International tourism, expenditures (current US$)",NH3,168.6571
12,Afghanistan,"International tourism, expenditures (current US$)",NH3,161.3290
13,Afghanistan,"International tourism, expenditures (current US$)",NH3,158.1437
14,Afghanistan,"International tourism, expenditures (current US$)",NH3,157.7423
15,Afghanistan,"International tourism, expenditures (current US$)",NH3,154.9639
16,Afghanistan,"International tourism, expenditures (current US$)",NH3,157.8495
17,Afghanistan,"International tourism, expenditures (current US$)",NH3,154.0529
18,Afghanistan,"International tourism, expenditures (current US$)",NH3,141.5867
19,Afghanistan,"International tourism, expenditures (current US$)",NH3,137.4148